<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<head th:replace="~{fragments/layout::head}"></head>

<body>
<header th:replace="~{fragments/layout :: header}"></header>

<section class="container my-5">

    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">

        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">

            <h1 class="display-5 fw-bold lh-1 text-body-emphasis mb-3">Giới thiệu về chúng tôi</h1>
            <hr/>
            <h3 class="text-primary">VIỆN CÔNG NGHỆ VÀ ĐÀO TẠO DEVMASTER</h3>
            <p class="lead">
                Đơn vị tiên phong trong đào tạo kỹ năng CNTT, lập trình viên
                chuyên nghiệp tại Việt Nam.
            </p>
            <p>
                Với sứ mệnh cung cấp nguồn nhân lực chất lượng cao cho ngành công nghiệp phần mềm,
                Devmaster Academy không ngừng nỗ lực đổi mới chương trình và phương pháp
                giảng dạy.
            </p>

            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a th:href="@{/contact}" class="btn btn-primary btn-lg px-4 me-md-2">Liên hệ ngay</a>
                <a th:href="@{/}" class="btn btn-outline-secondary btn-lg px-4">Trở về Trang chủ</a>
            </div>
        </div>

        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3"
                 src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?w=600"
                 alt="Devmaster Team" width="720">
        </div>
    </div>
</section>

<footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>