<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <title>Author Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
<section class="container my-5 p-4 bg-white shadow-sm">

    <form th:action="@{/authors/save}" th:object="${author}" method="post">

        <input type="hidden" th:field="*{natid}"/>

        <div class="card">
            <div class="card-header bg-primary text-white">
                <h1 th:text="${author.natid != null ? '📝 Chỉnh sửa Tác giả': '➕ Thêm Tác giả Mới'}" class="h4">Author Form</h1>
            </div>
            <div class="card-body">

                <div class="mb-3 row">
                    <label for="code" class="col-sm-2 col-form-label">Mã Code:</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{natcode}" placeholder="Mã tác giả" class="form-control" id="code" required>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="name" class="col-sm-2 col-form-label">Tên Tác giả:</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{natname}" placeholder="Tên tác giả" class="form-control" id="name" required>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="email" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" th:field="*{natemail}" placeholder="Email" class="form-control" id="email">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="phone" class="col-sm-2 col-form-label">Điện thoại:</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{natphone}" placeholder="Số điện thoại" class="form-control" id="phone">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="address" class="col-sm-2 col-form-label">Địa chỉ:</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{nataddress}" placeholder="Địa chỉ" class="form-control" id="address">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="description" class="col-sm-2 col-form-label">Mô tả:</label>
                    <div class="col-sm-10">
                        <textarea th:field="*{natdescription}" rows="2" class="form-control" id="description" placeholder="Mô tả về tác giả"></textarea>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="imgUrl" class="col-sm-2 col-form-label">Image URL:</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{natimgUrl}" placeholder="Link ảnh tác giả" class="form-control" id="imgUrl">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="isActive" class="col-sm-2 col-form-label">Trạng thái:</label>
                    <div class="col-sm-10 pt-2">
                        <div class="form-check">
                            <input type="checkbox" th:field="*{natisActive}" class="form-check-input" id="isActive">
                            <label class="form-check-label" for="isActive">Active</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary"
                        th:text="${author.natid != null ? '💾 Cập nhật' :'➕ Thêm mới'}">Save</button>
                <a th:href="@{/authors}" class="btn btn-secondary">↩️ Trở về danh sách</a>
            </div>
        </div>
    </form>
</section>
</body>
</html>